{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <br>
    <div class="col-6">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}
