body {
    background-color: lightblue;
}


header {
    display: flex;
    height: 100px;
    align-items: center;

}

nav {
    background-color: gainsboro;
}

footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    background-color: gainsboro;
    height: 70px;
}


#header-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 140px;
    height: 80px;
    border-radius: 20px;
}

#header-title h1 {
    display: flex;
    padding-left: 10px;
    font-size: 70px;
    font-family: -apple-system;
}
